*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
        
    
}

h1{
    color: aliceblue;
    font-size: 15vw;
    margin-right: 50px;
    font-weight: 900;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1s;
}